<% layout("./layouts/boilerplate.ejs") -%>
<div class="row">
  <div class="col-8 offset-2">
    <body>
      <br /><br />
      <h3>Create New Listing</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="listing[text]"
            name="title"
            id=""
            placeholder="Add a catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>

          <textarea
            type="listing[textarea]"
            name="description"
            id=""
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please, enter a short description.</div>
        </div>

        <div class="mb-3">
          <label class="form-label">Image</label>
          <input
            type="text"
            name="image[url]"
            placeholder="enter image URL"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="listing[number]"
              name="price"
              id=""
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please, enter a valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="listing[text]"
              name="location"
              id=""
              placeholder="Jaipur, Rajasthan"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Location should be valid.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="listing[text]"
            name="country"
            id=""
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
      </form>
      <br /><br />
    </body>
  </div>
</div>
